app/views/layouts/landing.html.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title HotStar
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'bootstrap/bootstrap', media: 'all'
    = stylesheet_link_tag    'style', media: 'all'
    = stylesheet_link_tag    'landing-2', media: 'all'
    = stylesheet_link_tag    'hotel_card', media: 'all'
    = stylesheet_link_tag    'hotels_page', media: 'all'
    = stylesheet_link_tag    'zhoraStyle', media: 'all'
    = yield :additional_css
  %body{ style: "background-image:url('#{image_path("landing.jpg")}');width:100%;height:100%;border:1px solid black; background-repeat: no-repeat; background-size: cover;"}
    = render "layouts/components/navigation"
    .landing-words
      %h2{:style => "color:white"} Register, make your choice!
      .sub-heading
        %p.mb-4{:style => "color:white"}
          You can add visited hotels all over the world,
          %br
          and express your opinion about them
        %p.mb-5
          = link_to hotels_path, class: "btn btn-danger btn-lg pb_btn-pill smoothscroll" do
            %span.pb_font-14.text-uppercase.pb_letter-spacing-1 view added
    %h4.mb-4.landing-best-part{:style => "color: ghostwhite"} Best hotels in the world in your opinion
    %section#section-home.landing-main-part
    .landing-main-part
      .container
        = yield



    = render "layouts/components/footer"
    = render "layouts/components/loader"

    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'popper.min'
    = javascript_include_tag 'bootstrap.min'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.easing.1.3'
    = javascript_include_tag 'main'
    = yield :additional_js

app/frontend/landing.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HotStar</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400"
          rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/law-icons/font/flaticon.css">

    <link rel="stylesheet" href="assets/fonts/fontawesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">

    <link rel="stylesheet" href="assets/css/helpers.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mainStyle.css">
    <link rel="stylesheet" href="assets/css/landing-2.css">
</head>
<body class="bg-landing">

<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
    <div class="container">
        <h6 class="navbar-brand" href="index.html">
            <text class="logo" id="logoHotel">HotStar</text>
        </h6>
        <img src="assets/images/logo.png" id="logoHotel-img" height="125" width="125"/>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
                aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="landing.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="hotels_page.html">Hotels</a></li>
                <li class="nav-item"><a class="nav-link" href="addHotel.html">AddHotel</a></li>
                <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link"
                                                                                     href="signin.html"><span
                        class="pb_rounded-4 px-4">Sign in/out</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<div class="landing-words">
    <h2 style="color:white">Register, make your choice!</h2>
    <div class="sub-heading">
        <p class="mb-4" style="color:white"> You can add visited hotels all over the world, <br>and express your opinion
            about
            them</p>
        <p class="mb-5"><a class="btn btn-danger btn-lg pb_btn-pill smoothscroll"
                           href="#section-pricing"><span
                class="pb_font-14 text-uppercase pb_letter-spacing-1">view added</span></a></p>
    </div>
</div>

<h4 class="mb-4 landing-best-part" style="color: ghostwhite">Best hotels in the world in your opinion</h4>
<section class="landing-main-part" id="section-home">
    <div class="landing-main-part">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="form--desc rounded pb_form_v1_landing">
                    <div class="row">
                        <div class="col-2_5">
                            <img src="assets/images/1.jpg" class="img-border" height="200" width="200"/>
                            <label class="star-padding star-reducer">
                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars"/>
                                    <label title="bad" for="star-0"></label>
                                    <text class="hotels-label">Название отеля</text>
                                </div>
                            </label>
                        </div>

                        <div class="col-2_5">
                            <img src="assets/images/2.jpg" class="img-border" height="200" width="200"/>
                            <label class="star-padding star-reducer">
                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars"/>
                                    <label title="bad" for="star-0"></label>
                                    <text class="hotels-label">Название отеля</text>
                                </div>
                            </label>
                        </div>

                        <div class="col-2_5">
                            <img src="assets/images/3.jpg" class="img-border" height="200" width="200"/>
                            <label class="star-padding star-reducer">
                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars"/>
                                    <label title="bad" for="star-0"></label>
                                    <text class="hotels-label">Название отеля</text>
                                </div>
                            </label>
                        </div>

                        <div class="col-2_5">
                            <img src="assets/images/4.jpg" class="img-border" height="200" width="200"/>
                            <label class="star-padding star-reducer">
                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars"/>
                                    <label title="bad" for="star-0"></label>
                                    <text class="hotels-label">Название отеля</text>
                                </div>
                            </label>
                        </div>

                        <div class="col-2_5">
                            <img src="assets/images/5.jpg" class="img-border" height="200" width="200"/>
                            <label class="star-padding star-reducer">
                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars"/>
                                    <label title="bad" for="star-0"></label>
                                    <text class="hotels-label">Название отеля</text>
                                </div>
                            </label>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->


<footer class="card-footer bg-light" role="contentinfo">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-vk"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-telegram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="pb_font-14">&copy; 2018 <a href="landing.html">HotStar</a> All Rights Reserved. <br> Designed
                    &amp; Developed by <a href="telegram">S.V.E.N team</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="pb_loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#1d82ff"/>
    </svg>
</div>


<script src="assets/js/jquery.min.js"></script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.min.js"></script>

<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>

<script src="assets/js/main.js"></script>

</body>
</html>
